.sb-show-main,
.docs-story {
  background: var(--cetec-colors-surface);
}

.sbdocs-content {
  padding: var(--cetec-sizes-48);
}

.sbdocs {
  font-family: var(--cetec-fonts-body);
  font-variation-settings: var(--cetec-font-variant-body);
  background: var(--cetec-colors-surface);
  color: var(--cetec-colors-text-subtlest);
  font-weight: var(--cetec-font-weights-normal);

  &.sbdocs-wrapper {
    padding: 0;
    gap: 0;
    justify-content: start;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not([class*='cetec-']) {
      font-family: var(--cetec-fonts-heading);
      font-weight: var(--cetec-font-weights-black);
      line-height: calc(1em + 0.5rem);
      color: var(--cetec-colors-text);
      margin-bottom: 0.5rem;
    }
  }

  p + h1,
  p + h2,
  p + h3,
  p + h4 {
    &:not([class*='cetec-']) {
      margin-top: 1.5rem;
    }
  }

  h1 {
    font-size: var(--cetec-font-sizes-40);

    &.sbdocs-title {
      font-size: var(--cetec-font-sizes-64);
    }
  }

  h2:not(#stories) {
    font-size: var(--cetec-font-sizes-32);
  }

  h3 {
    font-size: var(--cetec-font-sizes-24);
  }

  h4 {
    font-size: var(--cetec-font-sizes-20);
  }

  p:not([class*='cetec-']) {
    margin-bottom: 0.5rem;
    max-width: var(--cetec-sizes-prose);
  }

  code,
  kbd,
  samp,
  pre {
    font-family: var(--cetec-fonts-mono);
    font-variation-settings:
      'MONO' 1,
      'CRSV' 0,
      'CASL' 0,
      'slnt' 0;
    font-size: 1em;
  }

  code {
    mix-blend-mode: luminosity;
  }

  pre > div {
    margin-top: 0 !important;
  }

  b,
  strong {
    font-weight: bold;
  }

  i,
  em {
    font-style: italic;
    font-variation-settings:
      'MONO' 0,
      'CRSV' 1,
      'CASL' 0,
      'slnt' -15;
  }

  ul,
  ol {
    &:not([class*='cetec-']) {
      margin-left: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  ul:not([class*='cetec-']) {
    list-style-type: disc;
  }

  ol:not([class*='cetec-']) {
    list-style-type: decimal;
  }

  .cetec-d_grid.definitions-grid {
    --bg-color: color-mix(
      in srgb,
      var(--cetec-colors-bg-warning) 50%,
      transparent
    );
    p {
      background-color: var(--bg-color);
      padding: var(--cetec-sizes-12);
      margin: 0;
    }
  }

  #additional-variations {
    margin-top: var(--cetec-sizes-48);
  }
}
