:root {
  --u3e85b0: Helvetica, arial, sans-serif;
  --u3e85b1: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --u3e85b2: normal 10px Helvetica, arial, sans-serif;
  --u3e85b3: normal 12px Helvetica, arial, sans-serif;
  --u3e85b4: normal 14px Helvetica, arial, sans-serif;
  --u3e85b5: normal 16px/20px Helvetica, arial, sans-serif;
  --u3e85b6: 700;
  --u3e85b7: 4px;
  --u3e85b8: 8px;
  --u3e85b9: 16px;
  --u3e85ba: 100%;
  --u3e85bb: 70px;
  --u3e85bc: 44px;
  --u3e85bd: opacity 300ms ease, transform 300ms ease;
  --u3e85be: opacity 200ms ease, transform 200ms ease;
  --u3e85bf: opacity 100ms ease, transform 100ms ease;
  --u3e85bg: 0;
  --u3e85bh: 2px;
  --u3e85bi: 4px;
  --u3e85bj: 8px;
  --u3e85bk: 12px;
  --u3e85bl: 16px;
  --u3e85bm: 20px;
  --u3e85bn: 24px;
  --u3e85bo: 32px;
  --u3e85bp: 40px;
}
:root {
  --_1dltryk0: #000;
  --_1dltryk1: #040080;
  --_1dltryk2: #005ad2;
  --_1dltryk3: #00439c;
  --_1dltryk4: #00439c;
  --_1dltryk5: #0088ff;
  --_1dltryk6: #75438a;
  --_1dltryk7: #a7a7a7;
  --_1dltryk8: #515151;
  --_1dltryk9: #fff;
  --_1dltryka: #a7a7a7;
  --_1dltrykb: #cd193d;
  --_1dltrykc: #005ad2;
  --_1dltrykd: #1da584;
  --_1dltryke: rgb(0, 0, 0, .05);
  --_1dltrykf: #005ad2;
  --_1dltrykg: #c5f5e9;
  --_1dltrykh: #fee1e9;
  --_1dltryki: #eeeeee;
  --_1dltrykj: #fff;
  --_1dltrykk: #f4f4f4;
  --_1dltrykl: rgb(from #0088ff r g b / calc(alpha - 0.85));
  --_1dltrykm: hsl(from #e5f3ff h s calc(l - 15));
  --_1dltrykn: #eeeeee;
  --_1dltryko: 0 2px 8px rgb(18, 21, 26, 0.3);
  --_1dltrykp: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --_1dltryk0: #f6f8fa;
  --_1dltryk1: #c8e1f7;
  --_1dltryk2: #68aeea;
  --_1dltryk3: #97c8f1;
  --_1dltryk4: #97c8f1;
  --_1dltryk5: #3e8fe0;
  --_1dltryk6: #aa83f2;
  --_1dltryk7: #3d4b63;
  --_1dltryk8: #f6f8fa;
  --_1dltryk9: #000;
  --_1dltryka: #828ea4;
  --_1dltrykb: #fa6b6c;
  --_1dltrykc: #3e8fe0;
  --_1dltrykd: #28b888;
  --_1dltryke: rgb(255, 255, 255, .07);
  --_1dltrykf: #3e8fe0;
  --_1dltrykg: color-mix(in srgb, #0f131b 60%, #28b888);
  --_1dltrykh: color-mix(in srgb, #0f131b 70%, #db2d2d);
  --_1dltryki: #1c2230;
  --_1dltrykj: #0f131b;
  --_1dltrykk: hsl(from #0f131b h s calc(l - 3));
  --_1dltrykl: rgb(from #296fc0 r g b / calc(alpha - 0.75));
  --_1dltrykm: rgb(from #296fc0 r g b / calc(alpha - 0.25));
  --_1dltrykn: #1c2230;
  --_1dltryko: 0 0 10px -2px hsl(from #0f131b h s calc(l - 5));
  --_1dltrykp: 0 0 0 5px rgb(from #68aeea r g b / calc(alpha - 0.6));
}
._1dltrykq {
  position: absolute;
}
._1dltrykr {
  position: relative;
}
._1dltryks {
  position: fixed;
}
._1dltrykt {
  top: 0;
}
._1dltryku {
  bottom: 0;
}
._1dltrykv {
  left: 0;
}
._1dltrykw {
  right: 0;
}
._1dltrykx {
  display: none;
}
._1dltryky {
  display: flex;
}
._1dltrykz {
  display: block;
}
._1dltryk10 {
  display: inline;
}
._1dltryk11 {
  flex-direction: row;
}
._1dltryk12 {
  flex-direction: column;
}
._1dltryk13 {
  flex-direction: row-reverse;
}
._1dltryk14 {
  flex-wrap: wrap;
}
._1dltryk15 {
  flex-grow: 0;
}
._1dltryk16 {
  flex-grow: 1;
}
._1dltryk17 {
  justify-content: stretch;
}
._1dltryk18 {
  justify-content: flex-start;
}
._1dltryk19 {
  justify-content: center;
}
._1dltryk1a {
  justify-content: flex-end;
}
._1dltryk1b {
  justify-content: space-around;
}
._1dltryk1c {
  justify-content: space-between;
}
._1dltryk1d {
  align-items: stretch;
}
._1dltryk1e {
  align-items: flex-start;
}
._1dltryk1f {
  align-items: center;
}
._1dltryk1g {
  align-items: flex-end;
}
._1dltryk1h {
  gap: var(--u3e85bg);
}
._1dltryk1i {
  gap: var(--u3e85bh);
}
._1dltryk1j {
  gap: var(--u3e85bi);
}
._1dltryk1k {
  gap: var(--u3e85bj);
}
._1dltryk1l {
  gap: var(--u3e85bk);
}
._1dltryk1m {
  gap: var(--u3e85bl);
}
._1dltryk1n {
  gap: var(--u3e85bm);
}
._1dltryk1o {
  gap: var(--u3e85bn);
}
._1dltryk1p {
  gap: var(--u3e85bo);
}
._1dltryk1q {
  gap: var(--u3e85bp);
}
._1dltryk1r {
  padding-top: var(--u3e85bg);
}
._1dltryk1s {
  padding-top: var(--u3e85bh);
}
._1dltryk1t {
  padding-top: var(--u3e85bi);
}
._1dltryk1u {
  padding-top: var(--u3e85bj);
}
._1dltryk1v {
  padding-top: var(--u3e85bk);
}
._1dltryk1w {
  padding-top: var(--u3e85bl);
}
._1dltryk1x {
  padding-top: var(--u3e85bm);
}
._1dltryk1y {
  padding-top: var(--u3e85bn);
}
._1dltryk1z {
  padding-top: var(--u3e85bo);
}
._1dltryk20 {
  padding-top: var(--u3e85bp);
}
._1dltryk21 {
  padding-bottom: var(--u3e85bg);
}
._1dltryk22 {
  padding-bottom: var(--u3e85bh);
}
._1dltryk23 {
  padding-bottom: var(--u3e85bi);
}
._1dltryk24 {
  padding-bottom: var(--u3e85bj);
}
._1dltryk25 {
  padding-bottom: var(--u3e85bk);
}
._1dltryk26 {
  padding-bottom: var(--u3e85bl);
}
._1dltryk27 {
  padding-bottom: var(--u3e85bm);
}
._1dltryk28 {
  padding-bottom: var(--u3e85bn);
}
._1dltryk29 {
  padding-bottom: var(--u3e85bo);
}
._1dltryk2a {
  padding-bottom: var(--u3e85bp);
}
._1dltryk2b {
  padding-left: var(--u3e85bg);
}
._1dltryk2c {
  padding-left: var(--u3e85bh);
}
._1dltryk2d {
  padding-left: var(--u3e85bi);
}
._1dltryk2e {
  padding-left: var(--u3e85bj);
}
._1dltryk2f {
  padding-left: var(--u3e85bk);
}
._1dltryk2g {
  padding-left: var(--u3e85bl);
}
._1dltryk2h {
  padding-left: var(--u3e85bm);
}
._1dltryk2i {
  padding-left: var(--u3e85bn);
}
._1dltryk2j {
  padding-left: var(--u3e85bo);
}
._1dltryk2k {
  padding-left: var(--u3e85bp);
}
._1dltryk2l {
  padding-right: var(--u3e85bg);
}
._1dltryk2m {
  padding-right: var(--u3e85bh);
}
._1dltryk2n {
  padding-right: var(--u3e85bi);
}
._1dltryk2o {
  padding-right: var(--u3e85bj);
}
._1dltryk2p {
  padding-right: var(--u3e85bk);
}
._1dltryk2q {
  padding-right: var(--u3e85bl);
}
._1dltryk2r {
  padding-right: var(--u3e85bm);
}
._1dltryk2s {
  padding-right: var(--u3e85bn);
}
._1dltryk2t {
  padding-right: var(--u3e85bo);
}
._1dltryk2u {
  padding-right: var(--u3e85bp);
}
._1dltryk2v {
  margin-top: var(--u3e85bg);
}
._1dltryk2w {
  margin-top: var(--u3e85bh);
}
._1dltryk2x {
  margin-top: var(--u3e85bi);
}
._1dltryk2y {
  margin-top: var(--u3e85bj);
}
._1dltryk2z {
  margin-top: var(--u3e85bk);
}
._1dltryk30 {
  margin-top: var(--u3e85bl);
}
._1dltryk31 {
  margin-top: var(--u3e85bm);
}
._1dltryk32 {
  margin-top: var(--u3e85bn);
}
._1dltryk33 {
  margin-top: var(--u3e85bo);
}
._1dltryk34 {
  margin-top: var(--u3e85bp);
}
._1dltryk35 {
  margin-top: auto;
}
._1dltryk36 {
  margin-bottom: var(--u3e85bg);
}
._1dltryk37 {
  margin-bottom: var(--u3e85bh);
}
._1dltryk38 {
  margin-bottom: var(--u3e85bi);
}
._1dltryk39 {
  margin-bottom: var(--u3e85bj);
}
._1dltryk3a {
  margin-bottom: var(--u3e85bk);
}
._1dltryk3b {
  margin-bottom: var(--u3e85bl);
}
._1dltryk3c {
  margin-bottom: var(--u3e85bm);
}
._1dltryk3d {
  margin-bottom: var(--u3e85bn);
}
._1dltryk3e {
  margin-bottom: var(--u3e85bo);
}
._1dltryk3f {
  margin-bottom: var(--u3e85bp);
}
._1dltryk3g {
  margin-bottom: auto;
}
._1dltryk3h {
  margin-left: var(--u3e85bg);
}
._1dltryk3i {
  margin-left: var(--u3e85bh);
}
._1dltryk3j {
  margin-left: var(--u3e85bi);
}
._1dltryk3k {
  margin-left: var(--u3e85bj);
}
._1dltryk3l {
  margin-left: var(--u3e85bk);
}
._1dltryk3m {
  margin-left: var(--u3e85bl);
}
._1dltryk3n {
  margin-left: var(--u3e85bm);
}
._1dltryk3o {
  margin-left: var(--u3e85bn);
}
._1dltryk3p {
  margin-left: var(--u3e85bo);
}
._1dltryk3q {
  margin-left: var(--u3e85bp);
}
._1dltryk3r {
  margin-left: auto;
}
._1dltryk3s {
  margin-right: var(--u3e85bg);
}
._1dltryk3t {
  margin-right: var(--u3e85bh);
}
._1dltryk3u {
  margin-right: var(--u3e85bi);
}
._1dltryk3v {
  margin-right: var(--u3e85bj);
}
._1dltryk3w {
  margin-right: var(--u3e85bk);
}
._1dltryk3x {
  margin-right: var(--u3e85bl);
}
._1dltryk3y {
  margin-right: var(--u3e85bm);
}
._1dltryk3z {
  margin-right: var(--u3e85bn);
}
._1dltryk40 {
  margin-right: var(--u3e85bo);
}
._1dltryk41 {
  margin-right: var(--u3e85bp);
}
._1dltryk42 {
  margin-right: auto;
}
._1dltryk43 {
  overflow: hidden;
}
._1dltryk44 {
  overflow: auto;
}
._1dltryk45 {
  box-shadow: var(--_1dltryko);
}
._1dltryk46 {
  box-shadow: var(--_1dltrykp);
}
._1dltryk47 {
  border-radius: var(--u3e85b7);
}
._1dltryk48 {
  border-radius: var(--u3e85b8);
}
._1dltryk49 {
  border-radius: var(--u3e85b9);
}
._1dltryk4a {
  border-radius: var(--u3e85ba);
}
._1dltryk4b {
  transition: var(--u3e85bd);
}
._1dltryk4c {
  transition: var(--u3e85be);
}
._1dltryk4d {
  transition: var(--u3e85bf);
}
._1dltryk4e {
  cursor: pointer;
}
._1dltryk4f {
  pointer-events: none;
}
._1dltryk4g {
  pointer-events: auto;
}
._1dltryk4h {
  user-select: none;
}
._1dltryk4i {
  appearance: none;
}
._1dltryk4j {
  opacity: 0;
}
._1dltryk4k {
  z-index: 0;
}
._1dltryk4l {
  z-index: 1;
}
._1dltryk4m {
  font: var(--u3e85b2);
}
._1dltryk4n {
  font: var(--u3e85b3);
}
._1dltryk4o {
  font: var(--u3e85b4);
}
._1dltryk4p {
  font: var(--u3e85b5);
}
._1dltryk4q {
  font-weight: var(--u3e85b6);
}
._1dltryk4r {
  width: 100%;
}
._1dltryk4s {
  width: 100dvw;
}
._1dltryk4t {
  height: 100%;
}
._1dltryk4u {
  height: 100dvh;
}
._1dltryk4v {
  white-space: nowrap;
}
._1dltryk4w {
  box-sizing: border-box;
}
._1dltryk4x {
  text-align: center;
}
._1dltryk4y {
  text-align: left;
}
._1dltryk4z {
  text-align: right;
}
._1dltryk50 {
  border: 0;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: inherit;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

.yb7zgx5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1dltrykj);
  -webkit-tap-highlight-color: transparent;
}
.yb7zgx5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1dltrykl);
  opacity: 0;
  transition: var(--u3e85bd);
  pointer-events: none;
}
.yb7zgx5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--u3e85bd);
}
.yb7zgx5.yb7zgx0 {
  color: var(--_1dltrykd);
}
.yb7zgx5:not(.yb7zgx1) {
  cursor: pointer;
}
.yb7zgx5.yb7zgx1 {
  color: var(--_1dltryk7);
}
.yb7zgx5.yb7zgx2,.yb7zgx5.yb7zgx3:not(.yb7zgx0):not(.yb7zgx1),html:not([data-playroom-dark]) .yb7zgx5:hover:not(.yb7zgx0):not(.yb7zgx1) {
  color: var(--_1dltrykc);
}
.yb7zgx5:not(.yb7zgx0):not(:hover):focus::before {
  color: var(--_1dltryk8);
}
.yb7zgx5:not(.yb7zgx0):not(.yb7zgx1):focus::before,.yb7zgx5:not(.yb7zgx0):not(.yb7zgx1):hover::before {
  opacity: 1;
}
.yb7zgx5:not(.yb7zgx3)::after {
  transform: translateX(100%);
  opacity: 0;
}
.yb7zgx8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1dltrykf);
  border: 2px solid var(--_1dltrykj);
}
.yb7zgx8:not(.yb7zgx6) {
  transform: scale(0);
  opacity: 0;
}
.yb7zgxa {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1dltrykd);
  border: 2px solid var(--_1dltrykj);
}
.yb7zgxa:not(.yb7zgx6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
.yb7zgxa svg {
  color: var(--_1dltryk9);
}
@keyframes gzvm6q1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gzvm6q0 {
  background-color: var(--_1dltrykl);
}
.gzvm6q3 {
  background-color: var(--_1dltrykh);
  color: var(--_1dltrykb);
  min-width: 50px;
  animation-name: gzvm6q1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.gzvm6q3:hover {
  cursor: help;
}
.gzvm6q5 {
  width: 1em;
}
.gzvm6q7::after {
  content: "-";
}
.gzvm6q9::after {
  content: "+";
  color: var(--_1dltrykc);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1dltrykj);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--u3e85b1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--u3e85bb);
  box-sizing: border-box;
  padding-left: var(--u3e85bj);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--u3e85bl) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1dltryko);
  border-radius: var(--u3e85b7);
  background-color: var(--_1dltrykj);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--u3e85b1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1dltryki);
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--u3e85bi) var(--u3e85bj);
  border-radius: var(--u3e85b7);
  white-space: pre;
  color: var(--_1dltryk0);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1dltrykf);
  color: var(--_1dltryk9);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1dltrykc);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--u3e85bi);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1dltrykj);
  color: var(--_1dltryk0);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1dltryk8);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1dltrykj);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1dltrykj);
  position: absolute;
  right: var(--u3e85bh);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1dltrykj);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1dltrykl);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1dltryk8);
  transition: var(--u3e85bf);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(.gzvm6q9) {
  color: var(--_1dltryk7);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1dltryk8);
  transition: var(--u3e85bf);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1dltryk7);
}
.cm-s-neo .cm-tag {
  color: var(--_1dltryk1);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1dltryk2);
}
.cm-s-neo .cm-string {
  color: var(--_1dltryk3);
}
.cm-s-neo .cm-atom {
  color: var(--_1dltryk4);
}
.cm-s-neo .cm-variable {
  color: var(--_1dltryk5);
}
.cm-s-neo .cm-number {
  color: var(--_1dltryk6);
}
.CodeMirror-dialog {
  padding-left: var(--u3e85bl);
  padding-right: var(--u3e85bl);
  min-height: 60px;
  border-bottom: 1px solid var(--_1dltrykn);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--gzvm6qa));
  transition: var(--u3e85bf);
}
.dialog-opened .CodeMirror-scroll {
  --gzvm6qa: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--gzvm6qa);
}
.CodeMirror-dialog input {
  font: var(--u3e85b5);
  font-family: var(--u3e85b1);
  height: var(--u3e85bc);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--u3e85bc);
  font: var(--u3e85b5);
  font-family: var(--u3e85b1);
}
.CodeMirror-search-field {
  padding-left: var(--u3e85bl);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1dltrykm);
}
.cm-overlay.cm-searching {
  padding-top: var(--u3e85bh);
  padding-bottom: var(--u3e85bh);
  background: var(--_1dltrykl);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--u3e85bl);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--u3e85b4);
  font-family: var(--u3e85b0);
  margin-left: var(--u3e85bj);
  padding-top: var(--u3e85bi);
  padding-bottom: var(--u3e85bi);
  padding-left: var(--u3e85bk);
  padding-right: var(--u3e85bk);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--u3e85b8);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_1dltrykc);
  box-shadow: var(--_1dltrykp);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_1dltrykl);
}
.CodeMirror-dialog button:hover {
  background: var(--_1dltryke);
}
.f77iwc2 {
  top: var(--u3e85bj);
  left: var(--u3e85bj);
  right: var(--u3e85bj);
  margin-inline: auto;
  width: fit-content;
  max-width: 80ex;
  color: #f6f8fa;
  background: #cd193d;
  box-shadow: 0 2px 10px -2px #cd193d;
  word-break: break-word;
  white-space: pre-line;
}
.f77iwc2:not(.f77iwc0) {
  transform: translateY(calc(var(--u3e85bj) * -1));
  transition: none;
  opacity: 0;
}
.f77iwc2 a {
  color: inherit;
}
.f77iwc3 {
  transition-delay: 1000ms;
}
._1a6xglh1 {
  color: var(--_1dltryk8);
}
._1a6xglh2 {
  color: var(--_1dltrykb);
}
._1a6xglh3 {
  color: var(--_1dltryka);
}
._1a6xglha {
  text-overflow: ellipsis;
}
.qf1ye61 {
  justify-content: safe center;
}
.qf1ye64 {
  flex-shrink: 0;
  width: var(--qf1ye62);
}
.qf1ye64:not(:hover) .qf1ye67 {
  opacity: 0.8;
}
.qf1ye69 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
.qf1ye64:not(:hover) .qf1ye69 {
  opacity: 0.3;
}
._1dmtm4j5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: var(--u3e85bm);
  height: var(--u3e85bn);
  max-width: calc((100dvw - 60px) - (var(--u3e85bb) * 2));
}
._1dmtm4j5._1dmtm4j0 {
  padding-right: calc((15px * 2) + 16px);
}
._1dmtm4j5:not(._1dmtm4j1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._1dmtm4j5._1dmtm4j2 {
  background-color: var(--_1dltrykg);
}
._1dmtm4j5._1dmtm4j3 {
  background-color: var(--_1dltrykh);
}
._1dmtm4j7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._1dmtm4j7:not(:hover) {
  opacity: 0.4;
}
._15e74x1 {
  color: var(--_1dltryk8);
  font-family: var(--u3e85b0);
}
._15e74x2 {
  font-size: 36px;
}
._15e74x3 {
  font-size: 24px;
}
._15e74x4 {
  font-size: 16px;
}
._1yocntp2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--_1yocntp0);
  align-items: var(--_1yocntp1);
}
._1yocntp3 {
  --_1yocntp0: var(--u3e85bg);
}
._1yocntp4 {
  --_1yocntp0: var(--u3e85bh);
}
._1yocntp5 {
  --_1yocntp0: var(--u3e85bi);
}
._1yocntp6 {
  --_1yocntp0: var(--u3e85bj);
}
._1yocntp7 {
  --_1yocntp0: var(--u3e85bk);
}
._1yocntp8 {
  --_1yocntp0: var(--u3e85bl);
}
._1yocntp9 {
  --_1yocntp0: var(--u3e85bm);
}
._1yocntpa {
  --_1yocntp0: var(--u3e85bn);
}
._1yocntpb {
  --_1yocntp0: var(--u3e85bo);
}
._1yocntpc {
  --_1yocntp0: var(--u3e85bp);
}
._1yocntpd {
  align-items: flex-start;
}
._1yocntpe {
  align-items: center;
}
._1yocntpf {
  align-items: flex-end;
}
._179vjhl1 {
  display: flex;
  flex-direction: column;
  gap: var(--_179vjhl0);
}
._179vjhl2 {
  --_179vjhl0: var(--u3e85bg);
}
._179vjhl3 {
  --_179vjhl0: var(--u3e85bh);
}
._179vjhl4 {
  --_179vjhl0: var(--u3e85bi);
}
._179vjhl5 {
  --_179vjhl0: var(--u3e85bj);
}
._179vjhl6 {
  --_179vjhl0: var(--u3e85bk);
}
._179vjhl7 {
  --_179vjhl0: var(--u3e85bl);
}
._179vjhl8 {
  --_179vjhl0: var(--u3e85bm);
}
._179vjhl9 {
  --_179vjhl0: var(--u3e85bn);
}
._179vjhla {
  --_179vjhl0: var(--u3e85bo);
}
._179vjhlb {
  --_179vjhl0: var(--u3e85bp);
}
._6iqkxs1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--u3e85bi) * -1);
}
._6iqkxs1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--u3e85b7);
  box-shadow: var(--_1dltrykp);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--u3e85be);
}
._6iqkxs1:focus::before, ._6iqkxs1:hover::before {
  opacity: 1;
  transform: scale(1);
}
._6iqkxs4 {
  height: 20px;
  width: 20px;
}
._6iqkxs6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--u3e85bh) * 2));
  width: calc(20px - (var(--u3e85bh) * 2));
}
._6iqkxs6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--u3e85b7);
  box-shadow: var(--_1dltrykp);
  transition: var(--u3e85be);
  opacity: 0;
  transform: scale(0.5);
}
._6iqkxs6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--u3e85b7);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1dltrykj);
}
._6iqkxs4:hover:not(:focus) ~ ._6iqkxs6::before, ._6iqkxs4:focus ~ ._6iqkxs6::before {
  opacity: 1;
  transform: scale(1);
}
._6iqkxs6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--u3e85bf);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._6iqkxs4:checked ~ ._6iqkxs6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--u3e85bf);
}
._6iqkxs8 {
  color: var(--_1dltryk8);
  height: var(--u3e85bc);
  background: var(--_1dltrykj);
  border: 1px solid var(--_1dltrykn);
}
._6iqkxs8::placeholder {
  color: var(--_1dltryk7);
}
._14cwzij1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
}
._14cwzij4 {
  --_14cwzij2: currentColor;
  color: var(--_14cwzij2);
  border: 1px solid var(--_1dltryk7);
}
._14cwzij4:hover {
  --_14cwzij2: var(--_1dltrykc);
  border-color: var(--_14cwzij2);
}
._14cwzij4:active {
  transform: scale(0.98);
}
._14cwzij4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--u3e85bc);
  min-width: var(--u3e85bc);
  width: 100%;
  height: 100%;
  top: 50%;
}
._14cwzij4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1dltrykp);
}
._14cwzij5 {
  --_14cwzij2: var(--_1dltrykd) !important;
  border-color: var(--_14cwzij2);
}
._14cwzij7 {
  top: 1px;
}
._1s4oy7h0 {
  transition: var(--u3e85be);
  transform-origin: 50% 50%;
}
._1s4oy7h1 {
  transform: rotate(90deg);
}
._1s4oy7h2 {
  transform: rotate(180deg);
}
._1s4oy7h3 {
  transform: rotate(270deg);
}
._1a8ukae4 {
  min-width: 0;
}
._1a8ukae5 {
  flex-shrink: 0;
}
._1a8ukae9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._1a8ukae7:focus:not(:hover) ~ ._1a8ukae9 {
  opacity: 1;
}
.yyym3b2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.yyym3b4 {
  display: inline-block;
  background: var(--_1dltryki);
  font-family: system-ui;
  min-width: 16px;
}
.yyym3b6 {
  height: var(--u3e85bc);
  width: var(--u3e85bc);
}
.yyym3b8 {
  height: var(--u3e85bc);
  width: var(--u3e85bc);
}
.yyym3b8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1dltrykl);
  border-radius: var(--u3e85b8);
  transition: var(--u3e85be);
  opacity: 0;
  transform: scale(0.8);
}
.yyym3b6:checked ~ .yyym3b8,html:not([data-playroom-dark]) .yyym3b6:hover ~ .yyym3b8 {
  color: var(--_1dltrykc);
}
.yyym3b6:focus ~ .yyym3b8::before, .yyym3b6:hover ~ .yyym3b8::before {
  opacity: 1;
  transform: scale(1);
}
._1qaqmgi1 {
  color: var(--_1dltryk8);
  height: var(--u3e85bc);
  background: var(--_1dltrykj);
}
._1qaqmgi1:focus {
  outline: none;
}
._1qaqmgi1::placeholder {
  color: var(--_1dltryk7);
}
.e0huym2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1dltrykn);
}
.e0huym4 {
  list-style: none;
  top: 60px;
}
.e0huym4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--u3e85bi);
  z-index: 1;
}
.e0huym4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--u3e85bi);
  z-index: 1;
}
.e0huym6 {
  scroll-margin-block: var(--u3e85bi);
  color: var(--_1dltryk8);
  background-color: var(--_1dltrykj);
}
.e0huym6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1dltrykl);
  border-radius: var(--u3e85b7);
  opacity: 0;
  pointer-events: none;
}
.e0huym8 {
  color: var(--_1dltryka);
}
.e0huym9 {
  color: var(--_1dltrykc);
}
.e0huym9::before {
  opacity: 1;
}
._1jvdf4h2 {
  color: var(--_1dltryk8);
  min-width: calc(60px + 1px);
}
._1jvdf4h2._1jvdf4h0 {
  width: 100dvw;
}
._1jvdf4h6 {
  width: 60px;
  background-color: var(--_1dltrykj);
  border-left: 1px solid var(--_1dltrykn);
}
._1jvdf4h8 {
  width: 320px;
  background-color: var(--_1dltrykj);
  border-left: 1px solid var(--_1dltrykn);
}
._1jvdf4h9 {
  opacity: 0;
  transform: translateX(30%);
}
._1jvdf4hb {
  opacity: 1;
  transform: translateX(0);
}
._1jvdf4hc {
  opacity: 1;
  transform: translateX(0);
}
._1jvdf4hd {
  opacity: 1;
}
._1jvdf4hf {
  opacity: 0;
  transform: translateX(30%);
}
._1jvdf4hg {
  opacity: 0;
  transform: translateX(30%);
}
._1k0f8kg0 {
  cursor: row-resize;
}
._1k0f8kg1 {
  cursor: col-resize;
}
._1k0f8kga {
  background: var(--_1dltryki);
}
._1k0f8kgb {
  width: 70px;
  height: 4px;
}
._1k0f8kgc {
  width: 4px;
  height: 70px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--_1dltrykk);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
._1mi3tp30 {
  pointer-events: none;
  user-select: none;
}
._1mi3tp36 {
  display: grid;
  grid-template-columns: 1fr var(--_1mi3tp32, 0px);
  grid-template-rows: auto var(--_1mi3tp31, 0px);
  will-change: grid-template-columns, grid-template-rows;
}
._1mi3tp37 {
  transition: grid-template-columns 300ms ease, grid-template-rows 300ms ease;
}
._1mi3tp38 {
  --_1mi3tp31: clamp(300px, var(--_1mi3tp33), 80vh);
  grid-template-areas: "frames frames"
"editor editor";
}
._1mi3tp39 {
  --_1mi3tp32: clamp(460px, var(--_1mi3tp33), 90vw);
  grid-template-areas: "frames editor"
"frames editor";
}
._1mi3tp3a {
  grid-area: frames;
}
._1mi3tp3c {
  grid-area: editor;
}
._1mi3tp38 ._1mi3tp3e {
  width: 60px;
}
._1mi3tp3g {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--u3e85bc);
  height: var(--u3e85bc);
}
._1mi3tp3g::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--u3e85b8);
  transition: var(--u3e85bd);
}
._1mi3tp3g:not(:hover):not(:focus) {
  opacity: 0.3;
}
._1mi3tp3g:hover::before, ._1mi3tp3g:focus::before {
  opacity: 0.05;
}
