name: Changelog

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Get previous tag
        id: previousTag
        run: |
          #name=$(git --no-pager tag --sort=creatordate --merged ${{ github.head_ref }} | tail -2 | head -1)
          name=v0.0.39-0
          echo "previousTag: $name"
          echo "previousTag=$name" >> $GITHUB_ENV

      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          fromTag: ${{ env.previous_tag }}
          toTag: v[0-9]+.[0-9]+.01
          writeToFile: true
          useGitmojis: true
